*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.fav-link {
  background-color: yellow;
}

.fav-container {
  border: 1px solid red;
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background: darkblue;
}

main {
  background: gray;
}

footer {
  background: darkblue;
}